include darkserver.wsgi
include darkserver-httpd.conf
include darkserverweb.conf
include data/*.json
include data/*.conf
include setup.py
include README
include MANIFEST.in
include darkserverweb/*.py
include darkimporter/*.py
include darkserverweb/buildid/*.py
include fedmsg.d/darkserver.py
include static/*.*
include static/style.css
