include darkserver.wsgi
include darkserver-httpd.conf
include darkserver/*.py
include data/*.json
include data/*.conf
include setup.py
include README
include MANIFEST.in
include darkrweb/*.py
include darkimporter/*.py
include darkserverweb/buildid/*.py
include fedmsg.d/darkserver.py
include fedmsg.d/endpoints-darkserver.py
include darkserver.service
include darkjobworker.py
